{% extends 'base/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-5 col-md-6 m-auto card p-4">
            <form method="POST" class="card-body">
                {{ passfg_form.csrf_token }}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="text-center">
                    <h2>User password recovery</h2></br>
                    <h5 class="text-info">{{ text }}</h5>
                    {% if not success %}
                    <div class="form-group mb-5">
                        {{ passfg_form.email(class_="form-control", placeholder="Enter your registereg email")}}
                    </div>
                    <input type="submit" class="btn btn-success"value="Send mail">
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}