{% extends 'admbase.html' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
<div class="container mt-5">
           <div class="alert alert-info">
             <h2>{{ specific_article.title }}</h2>
             <h4>{{ specific_article.intro }}</h4>
             <p>{{ specific_article.text }}</p>
             {% if specific_article.dlm > specific_article.creation_date %}
                <p><strong>Date of publish: {{ specific_article.creation_date.date() }}</strong></p>
                <p><strong>Date of update: {{ specific_article.dlm.date() }}</strong></p>
             {% else %}
                <p><strong>Date of publish: {{ specific_article.creation_date.date() }}</strong></p>
             {% endif %}
             {% if specific_article.status == 2 %}
                <p class="text-success font-weight-bold">Article status: {{ status_code_name }}</p>
             {% else %}
                <p class="text-danger font-weight-bold">Article status: {{ status_code_name }}</p>
             {% endif %}

             <a href="/admin/dashboard" class="btn btn-info">Back</a>

            <a href="/admin/dashboard/article/{{ specific_article.id }}/update" class="btn btn-warning">Update</a>
            <a href="/admin/dashboard/article/{{ specific_article.id }}/delete" class="btn btn-danger">Delete</a>

           </div>
    </div>

{% endblock %}