{% extends 'admbase.html' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<style>
    #tr_articles, #th_articles, #th_users, #th_roles {
        cursor: pointer
    }
    #tr_users, #tr_roles {
        cursor: default
    }
    table>tr {
        height: 5em;
        overflow: auto
    }

</style>

<div class="container">
    <div class="modal fade user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form method="POST" class="card-body" action="{{ url_for('admin.user_register') }}">
                {{ reg_form.csrf_token }}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <h3 class="m-3 text-center">Register new user</h3>
                <div class="form-group mb-3">
                    {{ reg_form.username(class_="form-control", placeholder="Username")}}
                </div>
                    {% for error in reg_form.username.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ error }}
                        </div>
                    {% endfor%}
                <div class="form-group mb-3">
                    {{ reg_form.email(class_="form-control",placeholder="Email")}}
                </div>
                    {% for error in reg_form.email.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ error }}
                        </div>
                    {% endfor%}

                <div class="form-group mb-3">
                    {{ reg_form.rolename(class_="form-control") }}
                </div>
                {% for error in reg_form.rolename.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                    </div>
                {% endfor%}

                <div class="form-group mb-3">
                    {{ reg_form.passwd(class_="form-control", placeholder="Password")}}
                </div>
                {% for error in reg_form.passwd.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                    </div>
                {% endfor%}
                    <div class="form-group mb-3">
                        {{ reg_form.passwd_confirm(class_="form-control", placeholder="Confirm Password")}}
                    </div>
                {% for error in reg_form.passwd_confirm.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                    </div>
                {% endfor%}
                 <div class="modal-footer">
                    <input type="submit" class="btn btn-info" value="Send">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                 </div>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="modal fade role" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form method="POST" class="card-body" action="{{ url_for('admin.add_role') }}">
                {{ role_form.csrf_token }}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <h3 class="m-3 text-center">Add new role</h3>
                <div class="form-group mb-3">
                    {{ role_form.rolename(class_="form-control", placeholder="Roles name") }}
                </div>
                    {% for error in role_form.rolename.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ error }}
                        </div>
                    {% endfor%}
                <div class="form-group mb-3">
                    {{ role_form.status(class_="form-control") }}
                </div>
                {% for error in role_form.status.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                    </div>
                {% endfor%}
                 <div class="modal-footer">
                    <input type="submit" class="btn btn-info" value="Send">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                 </div>
          </form>
        </div>
      </div>
    </div>
</div>


<div class="mt-3 ml-5 mr-5 mb-2">
    {% if users|length > 0 %}
       <div class="alert alert-info">

           <table id="users" class="table table-hover table-light scrollingTable">
               <div class="display-4 d-inline">Users</div>
               <button type="button" class="btn btn-info mb-4 ml-3" data-toggle="modal" data-target=".user">Add user</button>
               <thead class="thead-light">
                <tr id="th_users">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>RegisterDate</th>
                    <th>DLM</th>
                    <th>ULM</th>
                    <th></th>
                </tr>
               </thead>
               <tbody>
                {% for user in users %}
                     <tr id="tr_users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.role_id }}</td>
                        <td>{{ user.email }}</td>
                         <td>{{ user.status }}</td>
                        <td>{{ user.register_date }}</td>
                        <td>{{ user.dlm }}</td>
                        <td>{{ user.ulm }}</td>
                        <td><button class="btn btn-danger">Edit</button></td>
                     </tr>
                 {% endfor %}
                </tbody>
           </table>

       </div>
    {% endif %}
</div>


<div class="mt-2 ml-5 mr-5 mb-2">
    {% if roles|length > 0 %}
       <div class="alert alert-info">
           <table id="roles" class="table table-hover table-light">
               <p class="display-4 d-inline">Roles</p>
               <button type="button" class="btn btn-info mb-4 ml-3" data-toggle="modal" data-target=".role">Add role</button>

               <thead class="thead-light">
                <tr id="th_roles">
                    <th>ID</th>
                    <th>RoleName</th>
                    <th>Status</th>
                    <th>DLM</th>
                    <th>ULM</th>
                    <th> </th>
                </tr>
               </thead>
               <tbody>
                {% for role in roles %}
                    <div class="inline-d">
                     <tr id="tr_roles">
                        <td>{{ role.id }}</td>
                        <td>{{ role.rolename }}</td>
                        <td>{{ role.status }}</td>
                        <td>{{ role.dlm }}</td>
                        <td>{{ role.ulm }}</td>
                        <td><button class="btn btn-danger">Edit</button></td>
                     </tr>
                    </div>
                 {% endfor %}
                </tbody>
           </table>
       </div>
    {% endif %}
</div>

<div class="mt-2 ml-5 mr-5 mb-2">
    {% if articles|length > 0 %}
       <div class="alert alert-info">
           <table id="articles" class="table table-hover table-light">
               <p class="display-4">Articles</p>
               <thead class="thead-light">
                <tr id="th_articles">
                   <th>Title</th>
                   <th>Intro</th>
                   <th>DLM</th>
                </tr>
               </thead>
               <tbody>
                {% for article in articles %}
                     <tr id="tr_articles" onclick="window.location='/admin/dashboard/article/{{ article.id }}'">
                        <td>{{ article.title }}</td>
                        <td>{{ article.intro }}</td>
                        <td>
                            {% if article.dlm > article.creation_date %}
                                {{ article.dlm}}
                            {% else %}
                                {{ article.creation_date}}
                            {% endif %}
                        </td>
                     </tr>
                 {% endfor %}
                </tbody>
           </table>
       </div>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js'></script>
<script>
  new Tablesort(document.getElementById('users'));
  new Tablesort(document.getElementById('roles'));
  new Tablesort(document.getElementById('articles'));
</script>
{% endblock %}